.fira-sans {
  font-family: Fira Sans, serif;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
header,
main,
footer {
  max-width: 1200px;
  margin: 0 auto;
}
section{
  margin: 70px 0;
}
/* Shared style */
.bg-color {
  color: #006a50;
}
.txt-color {
  color: #0e0e0e;
}
.txt-color-2 {
  color: rgba(14, 14, 14, 0.7);
}
.txt-center{
  text-align: center;
}
.txt-title{
  font-size: 40px;
  font-weight: 700;
}
/* Header style */
.sign-btn {
  padding: 15px 30px;
  border: 2px solid #006a50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #006A50;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
/* Banner sec. style */
.banner {
  display: flex;
  align-items: center;
  padding: 70px 80px;
  background-color: #c6e4d6;
  border-radius: 24px;
  margin-top: 40px;
}
.banner .banner-contain {
}
.banner-sub-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.banner-title {
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 20px;
}
.banner-btn{
  padding: 18px 35px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  background-color: #006a50;
  color: #FFFFFF;
}
.banner-btn:hover{
  border-color: #FFFFFF;
  background: #FFFFFF;
  color: #2ecc71;
}
/* Pillars style */

.pillar-container{
  display: flex;
}

/* vision section style */
.vision-section{

}
.vision-title{
  font-size: 40px;
  font-weight: 700px;
  margin-bottom: 25px;
}
.vision-desc{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}
.vision-container{
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-around;
}
.vision-item{
  padding: 32px 32px;
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
}
.vision-item-title{
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0 12px 0;
}
.vision-item-desc{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  color: rgba(14, 14, 14, 0.7)
}
.vision-item-btn{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #5490F5;
  color: #FFFFFF;
}
